.choice-img-wrapper img {
  content: url('../assets/ready.png');
  width: 200px;
}

.choice-button img {
  width: 100px;
}

#player-choice-img.animate-choice,
#computer-choice-img.animate-choice {
  animation-name: animation-choice;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}

#computer-choice-img.animate-choice {
  animation-direction: reverse;
}

@keyframes animation-choice {
  from {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(50%);
  }

  to {
    transform: translateX(0%);
  }
}