.intro-container {
  width: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  background-color: white;
  border: 5px solid grey;
  border-radius: 30px;
  box-shadow: 15px 15px 5px 5px hsla(0, 0%, 83%, .7);
}

.intro-container h1 {
  font-size: 4rem;
}

.intro-container p {
  font-size: 2rem;
  margin-bottom: 30px;
}

.intro-container button {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: transparent;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}

.intro-container button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.intro-container button:active {
  font-size: 1.15rem;
}

.intro-curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  z-index: 10;
}

.intro-curtain-rev {
  opacity: 1;
}

.intro-curtain-close {
  animation-name: increase-opacity;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-duration: 3s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.intro-curtain-open {
  animation-name: decrease-opacity;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-duration: 3s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

@keyframes increase-opacity {
  from {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes decrease-opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}