* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

.bg-moving-div-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.moving-div {
  width: 100px;
}

.moving-div img {
  width: 100%;
}
