@font-face {
  font-family: ManaSpace;
  src: url('../assets/fonts/ManaspaceRegular-ZJwZ.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  font-family: ManaSpace;
  font-size: 16px;
}